name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - master
      - 'releases/*'

jobs:
  build: # make sure build/ci work properly
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - os: ubuntu-latest
        - os: windows-latest
        - os: macos-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          npm install
      - run: |
          npm run all
  test: # make sure the action works on a clean machine without building
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        include:
        - os: ubuntu-latest
        - os: windows-latest
        - os: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          amber-version: v0.1.3
      - name: Check version
        run: amber --version
